// colors
$white                   : #FFFFFF;
$black                   : #000000;
$background-color        : #FAFBFF;
$version-color           : #838383;
$nav-link-color          : #9197B3;
$hover-item-color        : #5932EA;
$status-color            : #757575;
$placeholder             : #B5B7C0;
$color-light-green       : #16C098;
$color-green             : #00B087;
$color-red               : #DF0404;
$color-light-pink        : #FFC5C5;
$color-search            : #F9FBFF;
$color-other-black       : #292D32;
$border-table            : #EEEEEE;
$pagination-btn          : #F5F5F5;
$pagination-number       : #404B52;

// transition
$fast                    : .2s;
$normal                  : .5s;

// breakpoints
$screen-sm-max          : 1199px;
$screen-sm-min          : 1200px;